language: python

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.7-dev"

install:
  - export PIPENV_IGNORE_VIRTUALENVS=1
  - pipenv install --dev

script:
  - pipenv run pytest
  - pipenv run sphinx-build -nWT -b dummy doc doc/_build/html
