language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"

cache: pip

# command to install dependencies
install:
  - pip install -r requirements.txt

# command to run tests
script:
  - sphinx-build -nWT -b dummy doc doc/_build/html
  - pytest
