[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docutils = "*"
pytest = "*"
requests-mock = "*"
sphinx-rtd-theme = "*"
m2r = "*"
sphinx = "*"

[packages]
govuk-bank-holidays = "*"
numpy = "*"
panda = "*"
pandas = "*"
pytz = "*"
requests = "*"
scipy = "*"
alpha_vantage = "*"

[requires]
python_version = "3"
