[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
govuk-bank-holidays = "*"
numpy = "*"
pandas = "*"
pytz = "*"
requests = "*"
scipy = "*"
alpha_vantage = "*"
docutils = "*"
pytest = "*"
requests-mock = "*"
sphinx-rtd-theme = "*"
m2r = "*"
sphinx = "*"

[requires]
python_version = "3"

[scripts]
test = "pytest"
docs = "sphinx-build -b html doc doc/_build/html"
