-i https://pypi.org/simple
alabaster
alpha-vantage
attrs
babel
certifi
chardet
docutils
govuk-bank-holidays
idna
imagesize
importlib-metadata
jinja2
m2r
markupsafe
mistune
more-itertools
numpy
packaging
pandas
pluggy
py
pygments
pyparsing
pytest
python-dateutil
pytz
requests-mock
requests
scipy
six
snowballstemmer
sphinx-rtd-theme
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
wcwidth
zipp
