-i https://pypi.org/simple
aiohttp
alabaster
alpha-vantage
async-timeout
attrs
babel
certifi
chardet
docutils
govuk-bank-holidays
idna
imagesize
jinja2
markupsafe
more-itertools
multidict
multitasking
numpy
packaging
pandas
pluggy
py
pygments
pyparsing
pytest
python-dateutil
pytz
requests-mock
requests
scipy
six
snowballstemmer
sphinx-rtd-theme
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
wcwidth
yarl
yfinance
