govuk-bank-holidays>=0.3
matplotlib>=3.0.1
numpy>=1.15.1
panda>=0.3.1
pandas>=0.23.4
pytest>=3.10.0
pytz>=2018.7
requests>=2.20.0
scipy>=1.1.0
sphinx
sphinx_rtd_theme
alpha-vantage>=2.1.0
requests-mock
