name: Dependabot auto-merge

on:
  pull_request_target:

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    name: Dependabot auto-merge
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auto-merge
        uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: minor
          github-token: ${{ secrets.DEPENDABOT_TOKEN }}
